<div class="heading">
    <h1>U S E R S<br>
        REGISTERED
    </h1>
</div>

<% if @users != nil %>
    <% @users.each do |user| %>
        <%= user.username %>
    <% end %>
<% else %>
    <center> NO USERS REGISTERED </center>
<% end %>