<div class="heading">
    <h1>U S E R S<br>
        REGISTERED
    </h1>
</div>

<center>

<% if @users == nil || @users == [] %>
    no users registered
    <br>
    <a href="/users/new"><button>register NEW user</button></a>
<% else %>
    <a href="/users/new" style="float: right;"><button class="mybutton">register NEW user</button></a>
        <br>
        <br>
    
    <% @users.each do |u| %>
        u s e r n a m e : 
        <br>
        <%= u.username %>
        <br>
        <a href="/users/<%= u.id %>/edit"><button>E D I T</button></a>
        <br>
        <form action="/users/<%= u.id %>/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="d e l e t e">
        </form>
        <br>
    <% end %>
<% end %>

</center>