<div class="heading">
<h2>[REGISTER NEW USER]</h2>
</div>

<h3></h3>

<center>
<form method="POST" action="/users"> 
u s e r n a m e : <br>
    <input type="text" name="username"><br>
p a s s w o r d : <br>
    <input type="text" name="password"><br><br>

    <input type="submit" value="create new user" class="mybutton">
</form>
</center>