<div class="heading">
<h3>REGISTER NEW USER</h3>
</div>

<center>
<form method="POST" action="/signup"> 
u s e r n a m e : <br>
    <input type="text" name="username"><br>
p a s s w o r d : <br>
    <input type="text" name="password"><br><br>

    <input type="submit" value="create new user" class="mybutton">
</form>
</center>