<div class="heading">
<h2>[CREATE PERMIT]</h2>
</div>

<center>

<form method="POST" action="/permits" class="what">

<div class="flex-container">
    <div>
    <h2>BUILDING :</h2>
    <input type="text" name="building" required>
    <h2>UNIT :</h2>
    <input type="text" name="unit" required>
    </div>

    <div>
    <h2>TENANT</h2>
    
    permit # : <br>
    <input type="text" name="number" required><br>
    tenant name : <br>
    <input type="text" name="tenant_name" required><br>
    contact # : <br>
    <input type="text" name="contact_number" required minlength="10" maxlength="10"><br>
    </div>


    <div>
    <h2>VEHICLE</h2>
    
    license plate # : <br>
    <input type="text" name="vehicle_plate" required><br>
    year : <br>
    <input type="text" name="vehicle_year" required><br>
    color : <br>
    <input type="text" name="vehicle_color" required><br>
    make & model : <br>
    <input type="text" name="vehicle_make_model" required><br><br>
    </div>

</div>


    <input type="submit" value="c r e a t e" class="mybutton">
</form>
</center>