<div class="heading">
<h2>[CREATE PERMIT]</h2>
</div>
<center>
<form method="POST" action="/permits">
    b u i l d i n g : <br>
    <input type="text" name="building"><br>
    u n i t : <br>
    <input type="text" name="unit"><br>
    <br>
    permit # : <br>
    <input type="text name="number"><br>
tenant name : <br>
    <input type="text" name="tenant_name"><br>
    contact # : <br>
    <input type="text" name="contact_number"><br>
    vehicle license plate # : <br>
    <input type="text" name="vehicle_plate"><br>
    vehicle color : <br>
    <input type="text" name="vehicle_color"><br>
    vehicle year : <br>
    <input type="text" name="vehicle_year"><br>
    vehicle make & model : <br>
    <input type="text" name="vehicle_make_model"><br>





    <input type="submit" value="c r e a t e">
</form></center>