<!doctype html>
<html>
    <head>
        <style>

            body {
                /* background-image: url("https://freefrontend.com/assets/img/css-background-patterns/blueprint-pattern-css3.png"); */ */
                background-color: #D6EAF8;
                }
         
            .hedges_header {
                background-color: #73C6B6;
                text-shadow: 2px 2px 8px #000000;                
                color: #EAFAF1;
                height: 50px;
                text-align: center;
                text-decoration: overline;
            }

            .hedges_header_addresses {
                
                background-color: #73C6B6;
                text-shadow: 2px 2px 5px #000000;    
                color: #EAFAF1;              
                height: 75px;
                text-align: center;
            }

            /* .my_code {
                text-align: center;
            } */

            .my_footer {
                text-align: center;
                background-color: #73C6B6;
                height: 14px;
                letter-spacing: 4px;
            }

            .intro {
            
                text-align: center;
                color: #EAFAF1;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                border-left-style: solid;
                border-right-style: solid;
                /* border: 3px solid #43a390; */
                background-color: #b7e1d9;
                letter-spacing: 4px;
            }

            .heading {
            
                text-align: center;
                color: #EAFAF1;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                border-left-style: solid;
                border-right-style: solid;
                /* border: 3px solid #43a390; */
                background-color: #b7e1d9;
                letter-spacing: 4px;
            }

            .mybutton {       
               color: #000;
                background-color: #fff;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
            }

            .mybutton:hover {
                background-color: #4ab5a0;
                box-shadow: 0px 8px 5px rgba(183, 225, 217, 0.4);
                color: #fff;
            }
            .mydeletebutton {
                color: #000;
                background-color: #fff;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            }
            .mydeletebutton:hover {
                background-color: red;
                box-shadow: 0px 8px 5px rgba(183, 225, 217, 0.4);
                color: #fff;
            }
            .flex-container {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                
                box-sizing: border-box;
                background-color: #dbf0ec;
            }

            .flex-container > div {                
                text-align: center;
                padding: 3px;
                border: 3px solid #43a390;
                flex: 1 1 auto;
                flex-basis: 30%;
            }

            .what {
                text-shadow: 1px 1px 2px #000000;
            }



            .permit-container {
                max-width: 90%;
                margin: 0 auto;
                display: flex;
            }
                .first {
                    background-color: #73c6b6;
                    padding: 20px;
                    flex: 1;
                }
                .second{
                    background-color: #80cbbc;
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                }
                    .second-a {
                        
                        padding: 10px;
                        flex: 1;
                    }
                    .second-b {
                        
                        padding: 10px;
                        flex: 1;
                    }



            
        </style>
    </head>
    <body>
          
        <div class="hedges_header"> 
            <h1>THE HEDGES</h1>
        </div>

        <div class="hedges_header_addresses">
            401, 403, 405, 407, 409 East Main Street<br>
            5, 9 Brentwood Road<br>
            Bay Shore, New York 11706<br>
            <br>   
        </div>

        <div class="intro">
            <u><h1>VEHICLE PERMITS</h1></u>
            <h1>REGISTRY & DATABASE</h1>
        </div>

        <%# <div class="my_code"> %>
        <%# yield -> INJECT THE REST OF my CODED erbPAGE HERE %>
              <%= yield %> 
        <%# </div> %>

        <div class="my_footer">
            <% @user = current_user %> 
            <% if !@user %>

                    <% if !@user && request.path_info != "/login"  && request.path_info != "/signup" %>
                        <% redirect to "/login" %>
                    <% end %>

                <h6><a href="/login"> → l o g  i n ← </a></h6>
            <%else%>
                 <h6>LOGGED IN : CURRENT USER : <%= "#{@user.username}" %></h6>
                 <h6><a href="/logout">log out</a></h6>
            <% end %>
        </div>

    </body>
</html>