<!doctype html>
<html>
    <head>
        <style>

            .hedges_header {
                background-color: gray;                
                height: 50px;
                text-align: center;
                text-decoration: overline;
            }

            .hedges_header_addresses {
                
                background-color: gray;                
                height: 75px;
                text-align: center;
            }

            .my_code {
                text-align: center;
            }

            .my_footer {
                text-align: center;
                background-color: gray;
                height: 14px;
            }

        </style>
    </head>
    <body>

        <div class="hedges_header"> 
            <h1>THE HEDGES</h1>
        </div>

        <div class="hedges_header_addresses">
            401, 403, 405, 407, 409 East Main Street<br>
            5, 9 Brentwood Road<br>
            Bay Shore, New York 11706<br>
            <br>   
        </div>

        <div class="my_code">
        <%# yield -> INJECT THE REST OF my CODED erbPAGE HERE %>
              <%= yield %> 
        </div>

        <div class="my_footer">
            
                 <h6><a href="">←→↓↑▬↕◄ ►log out</a></h6>
            
        </div>

    </body>
</html>