


<center>
 <h3> s e a r c h </h3>

<a href="/apartments/search"><button class="mybutton">VIEW APARTMENT SEARCH</button></a>



<a href="/permits/search"><button class="mybutton">VIEW PERMIT SEARCH</button></a>


<h3> v i e w </h3>

<a href="/permits"><button class="mybutton">VIEW PERMIT LIST</button></a>
<a href="/apartments"><button class="mybutton">VIEW APARTMENT LIST</button></a>

<h3> c r e a t e </h3>

<a href="/permits/new"><button class="mybutton">NEW REGISTRATION</button></a>

<center>