<div class="heading">
<h2>[PERMIT REGISTRATION & DATABASE]</h2>
</div>


<center>
 <h3> s e a r c h </h3>


<a href="/apartments/search"><button>VIEW APARTMENT SEARCH</button></a>

<a href="/permits/search"><button>VIEW PERMIT SEARCH</button></a>


<h3> v i e w </h3>

<a href="/permits"><button>VIEW PERMIT LIST</button></a>

<h3> c r e a t e </h3>

<a href="/permits/new"><button>NEW REGISTRATION</button></a>

<center>