


<center>
<h2 class="what"> c r e a t e 
<br> 
<i class="fas fa-pencil-alt"></i>
<br>
<a href="/permits/new"><button class="mybutton">NEW REGISTRATION</button></a>
</h2>


<h2 class="what"> v i e w 
<br>
<i class="fas fa-file-alt"></i>
<br>
<a href="/permits"><button class="mybutton"> PERMIT LIST</button></a>
<a href="/apartments"><button class="mybutton"> APARTMENT LIST</button></a>
<a href="/permits_by_plate"><button class="mybutton"> PLATE LIST</button></a>
</h2>

 <h2 class="what">s e a r c h 
 <br>
 <i class="fas fa-search"></i> 
 <br>
<a href="/apartments/search"><button class="mybutton"> APARTMENT </button></a>
<a href="/permits/search"><button class="mybutton"> PERMIT </button></a>
</h2>
<center>
