<h1>Insert the form to edit an instance of your model here.</h1>

<form action="/apartments" method="POST">
    <input type="hidden" value="patch" name="_method">
    <input type="submit" value="">
</form>
