<center><h1>[APARTMENT MODEL INDEX PAGE]</h1></center>

<a href="/apartments/new" style="float: right;">CreateApartment</a><br>


        
<% @apartments.each do |apartment| %>
        
        <a href="/apartments/<%= apartment.id %>">
            <%= "#{apartment.building} - #{apartment.unit}" %>
        </a><br>

        <a href="/apartments/<%= apartment.id %>/edit">---E D I T</a>


        <form action="/apartments/<%= apartment.id %>/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="d e l e t e">
        </form>
        <br>

<% end %>
        
