<center>
<h2>[CREATE APARTMENT]</h2><br>
<form method="POST" action="/apartments">
    b u i l d i n g : <br>
    <input type="text" name="building"><br>
    u n i t : <br>
    <input type="text" name="unit"><br>
    <br>
    <input type="submit" value="c r e a t e">
</form></center>