<div class="heading">
<h2>[APARTMENT LOOKUP]</h2>
</div>

<center>
<form method="POST" action="/apartments">
    b u i l d i n g : <br>
    <input type="text" name="building"><br>
    u n i t : <br>
    <input type="text" name="unit"><br>
    <br>
    <input type="submit" value="s e a r c h">
</form>
</center>